<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#000000" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="Description" content="App to see the paintings from artist Rembrandt van Rijn">
  <!-- <script src="/js/script.js" defer></script> -->
  <!-- <link rel="apple-touch-icon" href="/example.png" /> -->
  <link rel="apple-touch-icon" href="/static/img/artSmall.png">
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="manifest" href="/manifest.json" crossorigin="use-credentials" />
  <title>Rijksmuseum</title>
</head>