<header>
    <nav>
        <ul>

            <li><a href="/">Home</a></li>
        </ul>
    </nav>
    <header id="#top">
        <h1>Rembrandt van Rijn</h1>
        <h2>Het Rijksmuseum</h2>
    </header>
</header>