<!-- <!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>
    <main>
        <article class="offline">
            <p>Het ziet er naar uit dat je offline bent, controlleer uw internet verbinding</p>
        </article>
    </main>

    <%- include('partials/footer') %>
</body>

</html> -->